*{
  box-sizing: border-box;
}
body {
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'Work Sans', sans-serif;
  font-family: 'Cairo', sans-serif;
  


}

/* Style the header: fixed position (always stay at the top) */
.headerr {
  position: fixed;
  top: 0;
  z-index:3;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}
  nav
{
  background-color: white;
}
 
.div1
{
    text-align: center;
    font-size: 30px;
    background-color: #10cab7;
    padding: 50px;
    color: white;

}
.div1 a 
{
    text-decoration: none;
    color: white;
    transition: ease 1s;
}
.div1 a:hover
{
  color: rgb(206, 213, 213);
  font-size: 34px;
  transform: translateY(-10px);

}
.sec1 div
{
    justify-content: center;
    align-items: center;
    
}
 
.sec22 
{
  border: 5px solid  #10cab7;

}

.dark-mode {
  background-color: black;
  color: white;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align:left;
    border: none;
    outline: none;
    transition: 0.4s;
    cursor: auto; 


  }
 
  
  .accordion div
  {
    align-items: center;
    text-align: center;

  }
  .container
  {
    max-width: 1200px;

  }
 
  @media (max-width: 600px) {
    iframe{
      width: 90%;
      height: 350px;
    }
   
  }
  .files img
  {
    width: 50%;
    margin-right: 20%;
  
  }
  .files
  {

    color: black;

  }
  .files h1
  {
    color: rgb(237, 229, 229);
    background-color: #10cab7;
  }
  
 .files button
 {

  border: none;
    padding: 10px;
    border-radius: 10px;
    margin-right: 50px;
    width: 20%;
    background-color: #475250;
    color: white;
 }
 .filesa a
 {
  text-decoration: none;  
}
 .files button:hover 
 {
  color: white;
  background-color: red;
 }

.sec3 div 
{
    position: relative;
    left: 25px;
    margin-top: 75px;
    align-items: center;
    justify-content: center;

}
.sec3 h1 
{
  position: relative;
  bottom: 75px;
  text-align: center;
  right:190px;
  
}

.sec3 
{
  background-color: #10cab7;
  justify-content: center;
  align-items: center;
  
}
.sec33
{
  position: relative;
  bottom: 75px;
}
.sec32
{
  position: relative;
  bottom: 55px;
}
.section1 h1
{
  background-color: #444;
  padding: 10px;
  padding-left: 702px;
  padding-right: 820px;
}


.sec4 
{
  background-color: #444;
  justify-content: center;
  align-items: center;
  
}

.sec4 h2
{
  position: relative;
  text-align: center;
  /* top: 100px; */  
} 
/* Start Gobal Rules */


.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

}
/* max 300 */
@media (max-width:350px){
  .files h4 
  {
    position: relative;
    left: -15%;
  }
}
/* xs */
@media (max-width:600px){
  .filesa button{
    width: 70%;
    margin-bottom: 5px;
    font-size: 15px;
  }
  .files h4 
  {
    position: relative;
    right: 8%;
  }
  .filesdiv1 
  {
    position: relative;
    right: 10%;
  }
  .sec2 iframe
  {
    width: 100%;
    height: 200px;
  }
}
/* min-width */
@media (min-width:600px){
  .filesa button{
    width: 50%;
    margin-bottom: 5px;
    font-size: 15px;
  }
  .files h4 
  {
    position: relative;
    left: -5%;
  }
  .filesdiv1 
  {
    position: relative;
    right: 5%;
  }
  .sec2 img 
  {
    position: relative;
    left: 5%;
  }
  .sec2 iframe
  {
    width: 100%;
    height: 350px;
  }
}

/* small */
@media (min-width: 768px) {
  .container{
      width: 750px;
  }
  .filesa button{
    width: 30%;
    margin-bottom: 5px;
    font-size: 15px;
  }
  .filesdiv1 
  {
    position: relative;
    right: 5%;
  }
  .sec2 img 
  {
    position: relative;
    left: 10%;
  }
  .sec2 iframe
  {
    width: 100%;
    height: 350px;
  }
  
}
/* Medium */
@media (min-width: 992px) {
  .container{
      width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container{
      width: 1170px;
  }
 
  .sec2 iframe
  {
    width: 90%;
    height: 650px;
  }
}

/* Start Header */
.header{
  padding: 20px;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .image-1{
  width: 60px;
  border-radius: 50px;
}
.header .links{
  position: relative;
}
.header .links i{
  display: flex;
  flex-wrap: wrap;
}
.header .links ul li{
  background-color: #eee;
  margin-bottom: 5px;
}
.header .links ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  background-color: #EEE;
  position: absolute;
  right: 5px;
  min-width: 200px;
  top: calc(100% + 10px);
  display: none;
  z-index: 3;
}
.header .links ul::before{
  content: "";
  border-width: 10px;
border-style: solid;
border-color: transparent transparent #EEE transparent;
position: absolute;
right: 1px;
top: -19px;
}
.header .links:hover ul{
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
.header .links ul li:hover{
  padding-left: 25px;
}
.header .links ul li{
  transition: .8s;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End Header */
/* Start Landing */
.landing{
  background-image: url(images/ce0bccd0-ec64-4f62-961e-80f61407fb84.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text{
  color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1{
  margin: 0px;
  font-weight: bold;
  font-size: 50px;
  color: #10cab7;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* End Landing */
/* Start subjects */
.special-heading{
  color: #ebeced;
  font-size: 70px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.subjects .container .sub-contents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}
.subjects .container .log {
  box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
  padding: 30px 10px;
  gap: 20px;
  border-radius: 6px;
  transition: 0.5s;
}

.subjects .container .log:hover {
  box-shadow: rgb(0 0 0 / 30%) 0px 5px 15px;
  transform: translateY(-10px);
}
.subjects .container .log i {
  color: #10cab7;
  font-size: 30px;
}
.to-do-list .container .txt{
  display: grid;
  gap: 20px;
  margin-bottom: 40px;
}
.to-do-list .container .txt .tdl{
  background-color: #eee;
  padding: 20px;
  position: relative;
  transition: .9s;
}
.to-do-list .container .txt .tdl:hover{
  transform: scale(1.1);
}
.to-do-list .container .txt .tdl::before{
  content: "";
  position: absolute;
  background-color: #10cab7;
  width: 6px;
  height: 60px;
  right: 0;
  bottom: 0;
}
/* End subjects */
.log a 
{
  text-decoration: none;
  color: #10cab7;  
}
.log p 
{
  color: black ;
}

.log 

{
  background-color: white;
}
/* End subjects */
/* Start Notes */
.notes .container .txt{
  display: grid;
    gap: 20px;
    margin-bottom: 40px;
}
.notes .container .txt .nts{
  background-color: #eee;
    padding: 20px;
    position: relative;
    transition: .9s;
}
.notes .container .txt .nts:hover{
  transform: scale(1.1);
}
.notes .container .txt .nts::before{
  content: "";
    position: absolute;
    background-color: #10cab7;
    width: 6px;
    height: 63px;
    left: 0;
    bottom: 0;
}
.special-heading{
  font-size: 50px;
  color: #10cab7;

}
@media (max-width: 768px){
  .special-heading{
      font-size: 50px;
  }
}


/* End Notes */
/* Start Footer */
footer
{
  background-color: #475250;
  color: white;
  font-size: 20px;
}

footer a
{
  text-decoration: none;
  color: white;
  transform: scale(1);
  transition: ease-in-out 1s;
}
footer a:hover 
{
  font-size: 25px;
  transform: scale(1.2);
color: #12ed3a;}


/* End Footer */







/* 
.smoothscroll{
  float: right;
  padding-right: 10px;
  }
  
  
  
  .sponsor-text{
  padding: 20px;
  }
  
    #content {
      float: left;
      padding-right: 50px;
      border-right: 1px solid #E6E7DC;
    }
    
    #content .post-title
    {
      margin-bottom: 2em;
    }
    
    #content .post-title h2
    {
      margin: 0;
      padding: 0;
    }
    
    #content .post
    {
      margin-bottom: 4em;
      padding-bottom: 4em;
      border-bottom: 1px solid #E6E7DC;
    }
   
      #title{
        padding: 10px 10px 10px 0;
        margin: 1.7em 0;
        width: 100%;

      }
    
      
      .title>h2 {
        float: left;
        padding-left: 10px;
        font-size: 1em;
        font-weight: 400;
        color: rgba(0,0,0,0.8);
      }	 */
     
        /*--End_subject-----*/
        
        /*--Start_Share-------*/
		  
/*   
		 
      .lecture{
        background-color: #ccc;
        border: 1px solid #2e383f;
        max-width: 120px;
        }
        .video{
          width:  -webkit-fill-available;
          height: 60vh;
          margin: 20px;
          }
          .title{
            background-color: #10cab7;
            text-align: center;
            padding: 10px;
            margin: 10px;
            height: 40px;
            width:  -webkit-fill-available;
            
            }
    
            .title > h2 {
            color: white;
            width: inherit;
            text-align: center;
            }
            #two, #three,#four,#five,#six,#seven, #eight,#nine, #ten, #eleven, #twelve{
              display: none;
              }    
              .doc{
                width: 100%;
                height: 100px;
               
                }
                .doc_img{
                width:  80px;
                height: 80px;
                float: left;
                margin-left: 10px;
                margin-right: 15px;
                }
        
                .doc_text{
                width: 80%;
                left: 80px;
                /* text-align: left;
              } */
         
              
              .doc_btn{
                width: 80%;
                right: 80px;
                /* text-align: left; */
                float: left;
                padding-top: 10px;
              
              }
              .doc_img{
                width:  80px;
                height: 80px;
                float: left;
                }
                .btn{
                display: flexbox;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 5Px;  
                width: 100px;
                height: max-content;
                border: none;
                color: white;
                border-radius: 4px;
                transition: ease-out 0.3s;
                font-size: 1rem;
                outline: none;
                box-shadow: inset 0 0 0 0 #0074D9;
                background-color: rgb(255,0,68);
                text-align: center;
        
                padding: 5px 10px;
                margin-right: 16px;
                margin-top: 16px;
                font-size: 12px;
                border: none;
                cursor: pointer;
              }
              
              .btn:hover{
                box-shadow: inset 300px 0 0 0 #0074D9;
                cursor: pointer;
                color: #000;
              } 
              .st img{
                width: 900px;
                height: 649px;
                transform: translate(105px, 10px);
              }

       
                
                
    /* Start Button */

/* .btn-34,
.btn-34 *,
.btn-34 :after,
.btn-34 :before,
.btn-34:after,
.btn-34:before {
  border: 0 solid;
  box-sizing: border-box;
 

}

.btn-34 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1;
  margin: 0px 0px 0px 20px; 
 
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding:0;
  text-transform: uppercase;
  position: relative;
  

}
.btn-34:disabled {
  cursor: default;
}
.btn-34:-moz-focusring {
  outline: auto;
}
.btn-34 svg {
  display: block;
  vertical-align: middle;
}
.btn-34 [hidden] {
  display: none;
}
.btn-34 {
  border-radius: 99rem;
  border-width: 4px;
  overflow: hidden;
  padding: 1rem 3rem;
  position: relative;
  
}
.btn-34:hover {
  transform: scale(1.1);

}
.btn-34 span {
  font-weight: 900;
  mix-blend-mode: difference;
}
.btn-34:before {
  aspect-ratio: 1;
  
  background: #fff;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s;
  width: 0;
}
.btn-34:hover:before {
  width: 100%;
  
} */
/* End Button */
/* Another Button */
/* .btn-55,
.btn-55 *,
.btn-55 :after,
.btn-55 :before,
.btn-55:after,
.btn-55:before {
  border: 0 solid;
  box-sizing: border-box;
  position: relative;
  left: 43%;

}
.btn-55 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-55:disabled {
  cursor: default;
}
.btn-55:-moz-focusring {
  outline: auto;
}
.btn-55 svg {
  display: block;
  vertical-align: middle;
}
.btn-55 [hidden] {
  display: none;
}
.btn-55 {
  background: linear-gradient(90deg, blue, red);
  border-radius: 999px;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.8rem 5rem;
  position: relative;
  text-transform: uppercase;
}
.btn-55 span {
  background: #1e293b;
  border-radius: 999px;
  color: #fff;
  display: grid;
  inset: 5px;
  place-items: center;
  position: absolute;
  transition: background 0.3s;
}
.btn-55:hover span {
  background: none;
} */

/* End Button */
  
  